<h1>Foglalások</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Aktuális foglalások</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="table-container">
    <table mat-table [dataSource]="futureReservations">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        Törlés
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="onCheckboxChange(row.id)"
        [checked]="isChecked(row.id)">
      </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="venueName">
      <th mat-header-cell *matHeaderCellDef> Helyszín </th>
      <td mat-cell *matCellDef="let row">{{ getVenueName(row.venueId) }}</td>
    </ng-container>
  
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Kezdő dátum </th>
      <td mat-cell *matCellDef="let row">{{ row.startDate |dateFormat }} </td>
    </ng-container>
  
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Vég dátum </th>
      <td mat-cell *matCellDef="let row">{{ row.endDate | dateFormat }} </td>
    </ng-container>
  
    <ng-container matColumnDef="guestCount">
      <th mat-header-cell *matHeaderCellDef> Vendégek száma </th>
      <td mat-cell *matCellDef="let row">{{ row.guestCount }}</td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Módosítás </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
        [ngClass] = "{'disabled': isPastReservation(row)}"
        [disabled]="isChecked(row.id)"
        (click)="editReservation(row)">
          <mat-icon>border_color</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'red-text': isChecked(row.id), 'line-through': isChecked(row.id)}"></tr>
  </table>
  </div>

  <div class="button-container" *ngIf="selectedReservations.size > 0">
  <button mat-raised-button color="accent" (click)="deleteSelected()">
    Kijelölt foglalások törlése
  </button>
</div>

<app-reservation-mod-form
  *ngIf="isUpdateFormVisible"
  [reservation]="editingReservation"
  (save)="onReservationSave($event)"
  (cancel)="onReservationCancel()">
</app-reservation-mod-form>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Múltbéli foglalások</mat-panel-title>
  </mat-expansion-panel-header>

  <!-- Radio gombok csoportja -->
  <mat-radio-group [(ngModel)]="selectedReservationId">
    <div class="table-container">
      <table mat-table [dataSource]="pastReservations">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Kiválaszt </th>
        <td mat-cell *matCellDef="let row">
          <mat-radio-button [value]="row.id"></mat-radio-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="venueName">
        <th mat-header-cell *matHeaderCellDef> Helyszín </th>
        <td mat-cell *matCellDef="let row">{{ getVenueName(row.venueId) }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Kezdő dátum </th>
        <td mat-cell *matCellDef="let row">{{ row.startDate | dateFormat }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Vég dátum </th>
        <td mat-cell *matCellDef="let row">{{ row.endDate | dateFormat }}</td>
      </ng-container>

      <ng-container matColumnDef="guestCount">
        <th mat-header-cell *matHeaderCellDef> Vendégek száma </th>
        <td mat-cell *matCellDef="let row">{{ row.guestCount }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Módosítás </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [disabled]="true">
            <mat-icon>border_color</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </mat-radio-group>

  <!-- Show the button only if a reservation is selected -->
  <div class="button-container" *ngIf="selectedReservationId">
    <button mat-raised-button color="accent" (click)="writeReview()">
      Vélemény írása
    </button>
  </div>

  <app-add-review-form
  *ngIf="isReviewFormVisible"
  [reviewData]="reviewData"
  (save)="onReviewSubmit($event)"
  (cancel)="onReviewCancel()">
  </app-add-review-form>
</mat-expansion-panel>


  