::ng-deep .mat-mdc-select-value {
    color: #5b005b !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #5b005b !important;
}

::ng-deep .mdc-list-item__primary-text {
    color: #5b005b !important;
}

::ng-deep div.mat-mdc-select-panel {
    background-color: #ffffff !important;
}
.mdc-text-field__input {
    color: #5b005b !important;
}
::ng-deep .mdc-floating-label {
    color: #5b005b !important;
}