h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 20px;
  }
  
  /* Ha nincs felhasználói adat */
  div p {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Profil kártya */
  .profile-card {
    max-width: 600px;
    margin: 0 auto; /* Középre igazítja a kártyát */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-content {
    text-align: left;
    margin-top: 20px;
  }
  
  mat-card-content p {
    font-size: 1.1rem;
    color: #666;
    margin: 8px 0;
  }
  
  mat-card img {
    max-width: 150px; /* A kép szélessége */
    height: 150px; /* A kép magassága */
    border-radius: 50%; /* Kerek formátum */
    object-fit: cover; /* Megőrzi a képarányt és a megfelelő területet kitölti */
    margin: 0 auto 20px auto; /* Középre igazítja a képet */
    display: block; /* A kép blokk szintű elem legyen, hogy középre igazítható legyen */
  }
  
  /* Formázás a profil módosító űrlaphoz */
  app-profile-mod-form {
    margin-top: 30px;
  }
  
  /* Reszponzív design: Ha az oldal szélessége kisebb, mint 600px */
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  
    .profile-card {
      padding: 15px;
    }
  
    mat-card-title {
      font-size: 1.5rem;
    }
  
    mat-card-content p {
      font-size: 1rem;
    }
  }