<div class="loginForm">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" formControlName="email" type="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"/>
          </mat-form-field>
          <button type="button" mat-icon-button (click)="togglePasswordVisibility()">
            <mat-icon>{{showPassword ? 'visibility_off': 'visibility'}}</mat-icon>
          </button>
          <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
    </form>
    <div *ngIf="errorMessage" class="error-message"
    [ngStyle]="{
      'color': '#f44336',
      'background-color': '#fdecea',
      'padding': '10px',
      'margin-top': '10px',
      'margin-bottom': '10px',
      'border': '1px solid #f44336',
      'border-radius': '4px'
    }">
      {{ errorMessage }}
    </div>
</div>
<div class="notRegisteredContainer">
    <p>Még nincs fiókod? A gombra kattintva pillanatok alatt csinálhatsz egyet!</p>
    <button mat-raised-button color="primary" (click)="onToRegister()">Regisztráció</button>
</div>