<!-- 
<router-outlet /> 
<app-menu></app-menu> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu [sidenav] = "sidenav"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button 
            mat-button 
            (click)="onToggleSidenav(sidenav)"
            class="menu-toggle-button">
            <mat-icon>menu</mat-icon>
      </button>
      <div>Esküvői helyszínfoglaló</div>
      <nav>
        <ul>
            <li><a routerLink="home">Főoldal</a></li>
            <li><a routerLink="wedding-venues">Esküvői helyszínek</a></li>
            <li><a routerLink="reservations">Foglalások</a></li>

            @switch (!!loggedInUser) {
              @case (true) {
                <li>
                  <a [routerLink]="['/profile', 'id:' + loggedInUser?.id]">Profil</a>
                </li>
                <li>
                  <a (click)="logout()">Kijelentkezés</a>
                </li>
              }
              @case (false) {
                <li>
                  <a routerLink="login">Bejelentkezés</a>
                </li>
                <li>
                  <a routerLink="register">Regisztráció</a>
                </li>
              }
            }
        </ul>
      </nav>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
