<div class="register-form">
    <h1>Regisztráció</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Név:</mat-label>
            <input matInput id="name" formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nem</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Férfi</mat-option>
              <mat-option value="female">Nő</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" formControlName="email" type="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó megerősítése</mat-label>
            <input matInput id="confirmPassword" formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefon</mat-label>
            <input matInput id="phone" formControlName="phone" type="text" />
          </mat-form-field>
          <button type="button" mat-icon-button (click)="togglePasswordVisibility()">
            <mat-icon>{{showPassword ? 'visibility_off': 'visibility'}}</mat-icon>
          </button>
          <button mat-raised-button color="primary" type="submit">Regisztráció</button>
    </form>
</div>

