@if (venue) {
    <div class="venue-container">
        <h2>{{venue.name}}</h2>
        <img [src] = "venue.image" alt="Helyszín kép">
        <p>{{venue.location}}</p>
        <p>Értékelés: {{getAvgRating() | number: '1.1-1'}} /5.0</p>
        <p>{{venue.price}} Ft/fő</p>
        <p>{{venue.capacity}} fő</p>
        <p>{{venue.description}}</p>
        <p class="reserve-info">Foglalását az oldal alján lévő űrlap kitöltésével tudja leadni.</p>
    </div>

    <div class="reviews-container">
      <h3>Értékelések:</h3>
      <mat-grid-list [cols]="gridCols" rowHeight="4:2" gutterSize="16px">
        <mat-grid-tile *ngFor="let review of reviews" [colspan]="1" rowspan="1">
          <div class="review-card">
            <p>Felhasználó: {{getUserNameById(review.id)}}</p>
            <p>Dátum: {{review.date | dateFormat}}</p>
            <p>Értékelés: {{review.rating}} / 5</p>
            <p>Megjegyzés: {{review.comment}}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="reserve-container">
      <h3>Foglalás:</h3>
        <form [formGroup] = "reservationForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Kezdő dátum</mat-label>
                <input matInput [matDatepicker] = "startPicker" formControlName="startDate" [disabled]="!loggedInUser">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Végdátum</mat-label>
                <input matInput [matDatepicker]="endPicker" formControlName="endDate" [disabled]="!loggedInUser">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Vendégek száma</mat-label>
                <input matInput formControlName="guestCount" type="number" min="2" max="{{venue.capacity}}" [disabled]="!loggedInUser">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="reservationForm.invalid || !loggedInUser">Foglalás</button>
              @if(!loggedInUser){
                <p>A foglalás leadásához be kell jelentkezni!</p>
              }
        </form>
    </div>
    
}
